@model Warehouses
@{
    ViewBag.Title = "Warehouse Details";
}

<div class="wrapper">
    <div class="content-wrapper">
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card mt-5">
                            <div class="card-header border-0">
                                <div class="card-header border-0 d-flex justify-content-between align-items-center">
                                    <div>
                                        <h2>@Html.DisplayFor(model => model.WarehouseName)</h2>
                                        <p class="lead mb-5">
                                            <strong>Location</strong>: @Html.DisplayFor(model => model.Locations.City) <br>
                                        </p>
                                        <a asp-action="Index" class="btn btn-primary"><i class="bi bi-arrow-return-left"></i>&nbsp; Back to list</a>
                                    </div>
                                    @if (ViewBag.isEdit)
                                    {
                                        <a asp-action="Edit" asp-route-id="@Model.WarehouseId" class="btn btn-primary"><i class="bi bi-pencil-square"></i>&nbsp; Edit</a>
                                    }
                                    @if (ViewBag.isDelete)
                                    {
                                        <div class="text-center">
                                            <p>Are you sure you want to delete this record?</p>
                                            <a asp-action="DeleteWarehouse" asp-route-id="@Model.WarehouseId" class="btn btn-danger"><i class="bi bi-trash-fill"></i>&nbsp; Delete</a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>